@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --heading: rgb(0, 10, 45);
    --para: #2e2d2d;
    --para-tint: #e4e4e4;
    --white: #FFF;
    --black: #212529;
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249, 249, 255);
    --gradient: linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 232) 100%);
    --gradientSupport: -webkit-linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 232) 100%);
    --shadow: 0px 0px 20px 0px #e6e9ff;
    --shadow-support: 0px 2rem 2rem 0px #dadeff;
    --icon-bg: rgb(144 172 209 / 20%);
    --overlay:#3564ff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    filter: contrast(1.75);
}

h1 {
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
    filter: contrast(1.75);
}

a {
    text-decoration: none;
    filter: contrast(1.75);
}

li {
    list-style: none;
}

img{
    aspect-ratio: 512 x 340 (1.51);
}

/* ----------------------- 
Header Section Style 
----------------------- */

.header {
    padding: 0 4.8rem;
    height: 8rem;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0;
    z-index: 1; */
    transition: all 0.3s ease;
}

.sticky .header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 222;
    background-color: var(--white);
    box-shadow: var(--shadow);
}

.sticky .section-hero{
    margin-top: 10rem;
}

.header .logo {
    height: 4rem;
}

.navbar-lists {
    display: flex;
    gap: 4.8rem;
}

.navbar-link:hover,
navbar-link:active {
    color: var(--helper);
}

.navbar-link:link,
navbar-link:visited, .navbar-link  {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
    font-family: "Poppins", sans-serif;
    transition: all 0.3s linear;
}


.mobile-navbar-btn{
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
}





/* ----------------------- 
Reusable Style 
----------------------- */

.section {
    padding: 7rem 0;
}

.grid {
    display: grid;
    gap: 9rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
}


.container {
    max-width: 140rem;
    margin: 0px auto;
}

.btn {
    background: var(--gradientSupport);
    padding: 1.6rem 3.2rem;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--helper-tint);
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

}

.btn:hover,
.btn:active {
    box-shadow: var(--shadow-support);
}

.common-heading {
    font-size: 4.6rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 5rem;
    position: relative;
}

.common-heading::before {
    content: "";
    position: absolute;
    left: 0;
    top: 105%;
    width: 1.5rem;
    height: 1.5rem;
    /* border-radius: 10rem; */
    background-color: var(--helper);
}

.common-heading::after {
    content: "";
    position: absolute;
    left: 1.5rem;
    top: 115%;
    width: 20rem;
    height: 0.2rem;
    background-color: var(--helper);
}

/* ----------------------- 
Hero Section Style 
----------------------- */
.section-hero {
    background-color: var(--bg);
    padding-left: 10rem;
}

.section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hero-image {
    max-width: 70%;
}

.section-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-top-data {
    text-transform: uppercase;
    color: var(--helper);
    font-weight: 500;
    font-size: 1.6rem;
}

.hero-heading {
    font-weight: 700;
    font-size: 6.4rem;
    text-transform: uppercase;
}

.hero-para {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 80%;
}


/* ----------------------- 
bio Section Style 
----------------------- */

.section-bio {
    background-color: var(--white);
    padding: 10rem 0;
}

.section-bio-data {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.bio-image {
    max-width: 75%;
    max-height: 90%;
    box-shadow: -1.5rem -1.5rem 0 0 var(--helper);
    display: inline-block;
}

.section-bio-image {
    display: flex;
    justify-content: center;
    /* align-items:center; */
}

.bio-data-stats {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    padding: 3.4rem 0;
}

.bio-progress {
    width: 90%;
    height: 0.8rem;
    background-color: var(--para-tint);
    /* border-radius: 10rem; */
    box-shadow: var(--shadow);
    position: relative;
}

.bio-progress::before {
    content: "";
    top: 0;
    left: 0;
    height: 0.8rem;
    width: 74%;
    position: absolute;
    background: var(--gradientSupport);
}

.bio-progress-2::before {
    width: 60%;
}

.bio-progress-3::before {
    width: 90%;
}

.bio-progress-4::before {
    width: 70%;
}

.bio-progress-5::before {
    width: 60%;
}

.bio-progress-6::before {
    width: 80%;
}

.bio-stats h3 {
    margin-bottom: .8rem;
}

.bio-progress span {
    position: absolute;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--gradient);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;
}

.bio-progress span {
    left: 70%;
}

.bio-progress-2 span {
    left: 56%;
}

.bio-progress-3 span {
    left: 86%;
}

.bio-progress-4 span {
    left: 66%;
}

.bio-progress-5 span {
    left: 56%;
}

.bio-progress-6 span {
    left: 76%;
}

.bio-progress span::after {
    content: "";
    position: absolute;
    top: -1.5rem;
    width: 0;
    height: 0;
    border: 0.8rem solid var(--helper);
    border-color: transparent;
    border-bottom-color: var(--helper);
}


/* ----------------------- 
portfolio Section Style 
----------------------- */

.section-portfolio {
    background: var(--bg);
    transition: all 0.7s linear;
}

.section-portfolio p {
    max-width: 60%;
}

.p-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin: 6.4rem 0;
}

.portfolio-images {
    gap: 3.2rem;
}

.portfolio-images img {
    width: 100%;
    border-radius: 0.7rem;
    position: relative;
    overflow: hidden;
}

.p-btns div {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-overlay {
    position: relative;
    overflow: hidden;
}

.image-overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradientSupport);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 0.7rem;
}

.image-overlay:hover>.overlay {
    transform: translateY(0%);
    opacity: 0.8;
    cursor: pointer;
}

.image-overlay .common-heading {
    color: var(--white);
    text-decoration: none;
    margin: 0;
}



.p-btn:hover {
    transform: translateY(-1rem);
    transition: all 0.3s linear;
}

.p-btn-active {
    transform: translateY(-1rem);
    transition: all 0.3s linear;
}

.p-image-not-active {
    display: none;
}

/* ----------------------- 
Counter Section Style 
----------------------- */

.counter-section {
    background: var(--gradientSupport);
    text-align: center;
    transition: all 0.7s linear;
    color: var(--white);
}

.counter-numbers {
    font-size: 4.8rem;
}

.counter-section p {
    text-transform: capitalize;
    color: var(--white);
}

/* ==============================
==========Service Section========
===============================*/

.section-services {
    transition: all 0.7s linear;
}

.section-services p {
    max-width: 70rem;
}

.section-services .grid {
    row-gap: 10rem;
    margin-top: 8rem;
}

.service-box {
    border-radius: 5px;
    text-align: center;
    box-shadow: var(--shadow);
    padding: 6.4rem 3.4rem;
    transition: all 0.3s linear;
}

.service-box:hover,
.service-box:active {
    transform: translateY(-3rem);
}

.service-icon {
    width: 8rem;
    height: 8rem;
    background-color: var(--icon-bg);
    display: inline-block;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    padding: 1.4rem 1.8rem;
    color: var(--heading);
    animation: water-wave 3s linear infinite;
}

.service-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 90%;
    height: 90%; */
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    background: transparent;
    border: 1px solid var(--black);
    animation: water-wave 3s linear infinite;

}

@keyframes water-wave {
    0% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }

    50% {
        border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }

    100% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
}

.service-box h3 {
    text-transform: capitalize;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/* ==============================
==========resume section========
===============================*/

.section-resume {
    background: var(--bg);
    transition: all 0.7s linear;
  }
  
  .resume-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .resume-img img {
    width: 80%;
    box-shadow: -2rem 2rem 0 0 var(--helper);
  }
  
  /* resume right side style  */
  .resume-para {
    font-size: 2.4rem;
    letter-spacing: 0;
    text-transform: capitalize;
    color: var(--heading);
  }
  
  .resume-data-subsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.8rem;
    margin-top: 4.4rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid var(--para-tint);
  }
  
  .resume-data-left .grid {
    gap: 1.5rem;
  }
  
  .resume-data-left h3 {
    margin-bottom: 1rem;
  }
  
  .resume-data-left .grid p,
  .resume-data-right p {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .resume-data-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  .resume-data-right .resume-data-button {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--black);
    padding: 0.5rem 1rem;
    min-width: 50%;
    background: var(--white);
    justify-content: center;
    border-radius: 10rem;
    margin-bottom: 0.5rem;
    filter: contrast(1);
  }

  /* .resume-data-button{
    padding: 1rem 1rem ;
  } */
  
  .resume-data-bottom-subsection {
    margin-top: 4.8rem;
  }
  
  .resume-data-bottom-subsection .margin-small {
    margin-top: 1.8rem;
  }
  


/* ==============================
==========testimonia Section====
===============================*/

.section-testimonial .container{
    padding-top: 2rem;
}



.swiper {
    width: 100%;
    height: 100%;
    margin-top: 9rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.swiper-client-msg{
    padding: 5rem 8rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    position: relative;
    text-align: left;
}

.swiper-client-msg::before{
    content: "";
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
    border: 5rem solid var(--white);
    border-color: transparent;
    border-top-color:var(--helper-tint) ;
}



.swiper-client-msg p::before{
    content: "\f10d";
    position: absolute;
    top: 0;
    left: 2rem;
    font-size: 5rem;
    color: #ced3ff;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
.swiper-client-msg p::after{
    content: "\f10e";
    position: absolute;
    bottom: 0;
    right: 3rem;
    font-size: 5rem;
    color: #ced3ff;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.swiper-slide img{
    max-width: 10rem;
    height: 10rem;
    border: 0.4rem solid var(--helper-tint);
    border-radius: 50%;
}

.swiper-client-data{
    align-items: center;
    margin-top: 3.2rem;
    gap: 3rem;
}

/* ==============================
==========freelancing Section====
===============================*/

.section-freelance{
    background: url("../images/portfolio/port4.jpg") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    transition: all 0.7s linear;
    text-align: center;
}

.section-freelance .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    opacity: 0.5;
}

.section-freelance .container{
    position: relative;
}

.section-freelance h2{
    font-size: 5.4rem;
}


.section-freelance span{
    color: #a0f669;
}

.section-freelance h2, .section-freelance p{
    color: var(--white);
    margin-bottom: 1.8rem;
}

/* ==============================
==========contact Section====
===============================*/

.section-contact-main{
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition:  all 0.3s linear;
}

.section-contact-main .grid{
    gap: 3rem;
}

.section-contact-main form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.section-contact-main input, .section-contact-main textarea{
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: 'work sans';
    width: 100%;
}

.section-contact-main input[type="submit"]{
    border: none;
}

/* ==============================
==========footer Section====
===============================*/

.section-footer{
    background: var(--heading);
    transition: all 0.4s linear;
}

.section-footer h3{
    color: var(--white);
    margin-bottom: 4rem;
}

.f-about p{
    color: #adadad;
}

.f-links ul,.f-services ul, .f-address address{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}

.f-links li, .f-links a, .f-services li, .f-services a{
    font-size: 1.5rem;
    color: #adadad;
    text-transform: capitalize;
}

.f-links span, .f-address span, .f-services span{
    margin-right: 1rem;
}

.f-address p,.f-address p a{
    font-style: normal;
    color: #adadad;
}

.f-address p a{
    font-size: 1.6rem;
}

.f-social-icons{
    /* color: #adadad; */
    text-align: center;
    margin: 5rem 0;
    
    border-radius: 50%;
}

.f-social-icons .icons{
    color: var(--white);
    width:4rem;
    height:4rem;
    background-color: var(--icon-bg);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    
    border-radius: 50%;
    margin-left: 1rem;
    animation: water-wave 3s linear infinite;
    cursor: pointer;
}
.f-social-icons a{
    
    border-radius: 50%;
}

.f-credits{
    text-align: center;
    
}

.f-credits p{
    color: white;
}

.footer a:hover, .footer a:active{
    color: var(--white);
}

/* ==============================
==========scroll Section====
===============================*/

.scrollTop-style{
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 1;
}

.scroll-top{
    color: var(--white);
    width:4rem;
    height:4rem;
    background-color: var(--black);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    animation: water-wave 3s linear infinite;
    cursor: pointer;
}

/* Media Query */



@media (max-width:1500px){
    .container{
        max-width: 130rem;
        padding: 0 3.2rem;
    }

    .navbar-lists{
        gap: 3rem;
    }

}

@media (max-width:1300px){
    html{
        font-size: 56.2%;
    }
    .container{
        max-width: 110rem;
    }
    .grid{
        gap: 4rem;
    }

    .section-resume .grid-two-column{
        grid-template-columns: 1fr 2fr;
    }

    .resume-data-subsection .grid-two-column{
        grid-template-columns: 1fr 1fr;
    }

    .section-footer .f-address a{
        font-size: 1.5rem;
    }
}

@media (max-width:980px){
    html{
        font-size: 50%;
    }
    .header{
        position: relative;
    }

    .mobile-navbar-btn{
        display: block;
        z-index: 1;
        border: 3px solid var(--black);
        color: var(--black);
    }
    .mobile-nav-icon{
        width: 5rem;
        height: 5rem;
        color: var(--black);
    }

    
    .navbar{
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        background: var(--gradient);
        z-index: 1;
        display:flex;
        justify-content:center;
        align-items:center;
        transform: translateX(100%);
        /* overflow: hidden; */
        transition: all 0.3s linear;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        
    }

    .active .navbar{
        transform: translateX(0%);
        /* overflow: hidden; */
        
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .navbar-lists{
        flex-direction: column;
        align-items: center;
    }
    .mobile-nav-icon[name="close-outline"]{
        display: none; 
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .navbar .navbar-lists .navbar-link:link,.navbar .navbar-lists .navbar-link:active{
        color: #212529;
        font-size: 3.2rem;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display: block;
        width: 5rem;
        height: 5rem;
        color: var(--black);
    }
    
    .section-hero h1{
        line-height: 1.05;
    }

    .section-services .grid{
        gap: 2rem;
    }

    .section-services .grid-three-column{
        grid-template-columns: repeat(2,1fr);
    }

    .section-resume .grid-two-column, .section-bio .grid-two-column{
        grid-template-columns: 1fr;
    }

    .resume-img, .section-bio-image{
        grid-row: 2;
        /* transform: translateY(-2rem); */
    }

    .resume-img img, .section-bio-image img{
        width: 70%;
    }

    .section-footer .grid-four-column{
        grid-template-columns: 1fr 1fr;
    }

    .image-overlay .common-heading{
        font-size: 3rem;
    }

   
}

@media (max-width:699px) {

    html{
        font-size: 40%;
    }

    .container{
        max-width: 650px;
    }
   .section-hero .grid-two-column,  .section-contact-main .grid-two-column{
    grid-template-columns: 1fr;
   }

   .counter-section .grid-four-column{
    grid-template-columns: 1fr 1fr;
   }

   .section-hero .section-hero-data{
    display:flex;
    justify-content:center;
    align-items:center;
   }

   .section-hero h1, .section-hero p{
    text-align: center;
   }

   .section-hero{
    padding-left: 0;
   }

   .section-portfolio .grid-three-column{
    grid-template-columns: repeat(2,1fr);
   }
/* 
   h2{
    text-align: center;
   }

   .common-heading::after,.common-heading::before{

   } */

   .section-bio-data .bio-data-btn{
    display:flex;
    justify-content:center;
    align-items:center;
   }

   .section-bio-image{
    margin-top: 3rem;
   }

   .section-contact-main {
    padding: 0 3.4rem;
   }

   .section-testimonial .swiper-wrapper .swiper-slide{
    padding: 5rem 3rem;
   }
}

@media (max-width:550px) {

    .container{
        max-width: 480px;
    }
    
    .header{
        padding: 0 3rem;
    }

    .header .logo{

        width: 50%;
    }

    .section-portfolio .p-btns{
        gap: 2rem;
    }

    .btn{
        padding: 1rem 2rem;
    }

    .counter-numbers{
        font-size: 3rem;
    }

    .section-services .grid-three-column{
        grid-template-columns: 1fr;
    }

    .resume-data-subsection{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }

     .resume-data-bottom-subsection .resume-data-button, .resume-data-right .resume-data-button{
        min-width: 30%;
    }

    .resume-data-right{
        flex-direction: row;
        align-items: center;
        gap: 2.2rem;
        justify-content: flex-start;
    }

    .section-freelance h2{
        font-size: 3rem;
    }

    .section-footer .f-about,
    .section-footer .f-address{
        grid-column:1/-1 ;
    }
}